*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    display: inline-block;
    margin: 10px 10px;
}

input {
    padding: 10px 10px;
    margin: 5px 10px;
}
button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.item__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 20vw;
    background-color: #ccc;
    border-radius: 5px;
}
.item__title{
    flex: 1;
    text-align: center;
    height: 100%;
    line-height: 100%;
}